.aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7rem;
}
h1.about-title{
    color: var(--base-font);
    font-size: 3rem;
}
p.about{
    font-size: 1.5rem;
    color: var(--base-font);
    display: flex;
    text-align: center;
    width: 65%;
}
.my-skill{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    gap: 2rem;
}
.soft-skill,
.hard-skill{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.soft-skill h1,
.hard-skill h1{
    color: var(--base-font);
}
.hard-skill-cont,
.soft-skill-cont{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.soft-skill-cont p{
    color: var(--base-font);
    filter: brightness(80%);
    display: inline-block;
    width: auto;
    font-size: 1.1rem;
}
.hard-skill-cont i{
    color: var(--base-font);
    font-size: 2rem;
}
.hard-skill-cont span{
    font-weight: 400;
    color: var(--base-font);
    filter: brightness(70%);
    font-size: 1rem;
    margin-left: .5rem;
}

@media screen and (max-width: 1024px){
    p.about,
    .my-skill{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .aboutme{
        gap: 3.5rem;
    }
    h1.about-title{
        font-size: 2.5rem;
    }
    p.about{
        font-size: 1.2rem;
    }
}