.aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7rem;
}
h1.about-title {
  color: var(--base-font);
  font-size: 3rem;
}
p.about {
  font-size: 1.5rem;
  color: var(--base-font);
  display: flex;
  text-align: center;
  width: 65%;
}
.my-skill {
  display: grid;
  align-items: flex-start;
  width: auto;
  gap: 4rem 4rem;
  grid-template-columns: repeat(4, max-content);
}
.skill {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
}
.skill h1 {
  color: var(--base-font);
}
.skill i svg {
  width: 2rem;
  height: 2rem;
}
.skill .svg span {
  margin-left: 0rem;
}
.skill-cont {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.soft .skill-cont p {
  color: var(--base-font);
  filter: brightness(70%);
  display: inline-block;
  width: auto;
  font-size: 1.1rem;
}
.lang i,
.frame i,
.data i,
.dev i,
.os i,
.design i {
  color: var(--base-font);
  font-size: 2rem;
}
.lang span,
.frame span,
.data span,
.dev span,
.os span,
.design span {
  font-weight: 400;
  color: var(--base-font);
  filter: brightness(70%);
  font-size: 1rem;
  margin-left: 0.5rem;
}
.skill-cont p:hover,
.skill-cont i:hover span {
  filter: brightness(100%);
}

@media screen and (max-width: 1024px) {
  p.about{
    width: 80%;
  }
  .my-skill {
    gap: 3rem;
    width: auto;
  }
  .skill {
    gap: 1rem;
    max-width: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .aboutme {
    gap: 3.5rem;
  }
  h1.about-title {
    font-size: 2rem;
  }
  p.about {
    font-size: 0.8rem;
  }
  .my-skill {
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(2, max-content);
  }
  .skill {
    gap: 1rem;
    max-width: 10rem;
  }
  .skill h1 {
    font-size: 1rem;
  }
  .skill i svg {
    width: 1rem;
    height: 1rem;
  }
  .skill-cont {
    gap: 1rem;
  }
  .soft .skill-cont p {
    font-size: 0.6rem;
  }
  .lang i,
  .frame i,
  .data i,
  .dev i,
  .os i,
  .design i {
    font-size: 1rem;
  }
  .lang span,
  .frame span,
  .data span,
  .dev span,
  .os span,
  .design span {
    font-size: 0.6rem;
  }
}
