.contact{
    display: flex;
    flex-direction: column;
}
.contact-top-container{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-top-container::before{
    content: '';
    position: absolute;
    z-index: -1;
    background: url('/asset/project.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45vh;
    filter: brightness(.2);
}
.contact-top-container h1{
    font-size: 4rem;
    color: var(--ghostwhite);
    margin-bottom: .5rem;
}
.contact-top-container p{
    font-size: 1.5rem;
    color: var(--ghostwhite);
}
.contact-bot-container{
    height: 55vh;
    width: 100%;
    background-color: var(--ghostwhite);
    padding: 5rem;
}
.top-contact-bot-container{
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.top-contact-bot-container i{
    position: absolute;
    top: auto;
    left: auto;
    color: var(--grey);
    padding: 1.2rem 0 0 1rem;
    font-size: 1.5rem;
}
.left-contact-bot-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 35%;
}
.right-contact-bot-container{
    width: 60%;
}
.left-contact-bot-container input{
    border: 1px solid var(--grey);
    height: 4rem;
    width: 100%;
    padding: 1rem 1rem 1rem 4rem;
    font-size: 1.3rem;
    border-radius: 1rem;
}
.right-contact-bot-container textarea{
    border: 1px solid var(--grey);
    height: 19rem;
    width: 100%;
    padding: 1rem 1rem 1rem 4rem;
    font-size: 1.3rem;
    border-radius: 1rem;
}
.bot-contact-bot-container{
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.bot-contact-bot-container button{
    font-size: 1.5rem;
    color: var(--richblack);
    background-color: var(--blue);
    width: 10rem;
    height: 3.5rem;
    cursor: pointer;
    border-radius: 2rem;
}
.bot-contact-bot-container button:hover{
    box-shadow: 0px 0px 10px 1px var(--grey);
}