footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--blue);
    padding: 2rem 0;
    gap: 2rem;
}
.social-media-footer{
    display: flex;
    gap: 4rem;
}
.social-media-footer a{
    font-size: 2.4rem;
    color: var(--sec-base-font);
}
.social-media-footer a:hover{
    transform: scale(1.1);
}
p.copyright-footer{
    font-size: 1.4rem;
    color: var(--sec-base-font);
}

@media screen and (max-width: 480px) {
    footer{
        padding: 1.5rem 0;
        gap: 1rem;
    }
    .social-media-footer{
        gap: 3rem;
    }
    .social-media-footer a{
        font-size: 1.3rem;
    }
    p.copyright-footer{
        font-size: 0.8rem;
    }
}