header{
    padding: 2.5rem 5rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    z-index: 10;
    backdrop-filter: blur(5px) !important;
}
.left-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-profile p{
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: var(--blue);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    margin: 0 2rem;
    font-size: 1rem;   
    cursor: pointer;
    color: var(--nav-inact);
    transition: all .5s ease;
}
.navbar a.active,
.navbar a:hover{
    color: var(--base-font);
}
.right-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mode{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-font);
    border-radius: 50%;
    cursor: pointer;
}
.mode img{
    width: 1.5rem;
}
.mode:hover{
    filter: brightness(70%);
}
.burger-navbar{
    display: none;
}

@media screen and (max-width: 1024px) {
    header{
        padding: 2.5rem;
    }
}

@media screen and (max-width: 440px) {
    .left-profile p{
        font-size: 1rem;
    }
    header{
        height: auto;
        flex-wrap: wrap;
        padding: 1.5rem;
    }
    .navbar{
        order: 3;
        margin-top: 2rem;
        align-items: center;
        flex-direction: column;
        top: 100%;
        width: 100%;
        gap: 1.5rem;
        display: none;
    }
    .navbar.active{
        display: flex;
    }
    .mode{
        width: 2rem;
        height: 2rem;
    }
    .burger-navbar{
        display: inline-block;
    }
    .burger-navbar i{
        color: var(--base-font);
        font-size: 1.5rem;
        cursor: pointer;
    }
    .burger-navbar i.fa-xmark{
        display: none;
    }
}