.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
}
h1.porto-title {
  color: var(--base-font);
  font-size: 3rem;
  margin-bottom: 3rem;
}
.porto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  overflow-x: auto;
}
.pbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  background-color: var(--ghostwhite);
  border-radius: 1rem;
  box-shadow: 0 0 10px 1px var(--grey);
  padding: 1.5rem 0;
  gap: 1rem;
}
.porto-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.porto-img img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 15rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 1px black;
  object-fit: cover;
}
.porto-title {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 1.6rem;
  }
}
.porto-desc {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}
.porto-desc p {
  font-size: 1.1rem;
}
.porto-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.porto-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  height: 3rem;
  width: 15rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.porto-desc p,
.porto-title h1,
.porto-button a {
  color: var(--richblack);
}
.pbox:hover {
  box-shadow: 0 0 15px 5px var(--grey);
}
.porto-button a:hover {
  box-shadow: 0px 0px 10px 1px var(--grey);
}

@media screen and (max-width: 480px) {
  h1.porto-title {
    font-size: 2rem;
  }
  .portfolio {
    padding: 0 2rem;
  }
  .porto-container {
    padding: 0;
    justify-content: flex-start;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--grey);
  }
  .porto-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--grey);
  }
  .porto-container::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 8px;
    border: 2px solid var(--grey);
  }
  .porto-container::-webkit-scrollbar-button {
    display: flex;
  }
  .pbox {
    margin-bottom: 1rem;
  }
  .porto-img {
    width: 18rem;
  }
  .porto-img img {
    max-height: 10rem;
    border-radius: 0.5rem;
  }
  .porto-title h1 {
    font-size: 1rem;
  }
  .porto-desc {
    max-height: 8rem;
    padding: 0 1rem;
  }
  .porto-desc p {
    font-size: 0.8rem;
  }
  .porto-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .porto-button a {
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    font-size: 0.8rem;
  }
  .porto-desc p,
  .porto-title h1,
  .porto-button a {
    color: var(--richblack);
  }
}
